name: Terraform Plan on PR

on:
  pull_request:
    branches:
      - dev
      - staging
      - main

jobs:
  plan-dev:
    if: github.base_ref == 'dev'
    uses: ./.github/workflows/terraform-reusable.yml
    with:
      action: "plan"
      environment: "dev"
      working_directory: "envs/dev"
      var_file: "dev.tfvars"
      aws_region: "eu-central-1"

  plan-staging:
    if: github.base_ref == 'staging'
    uses: ./.github/workflows/terraform-reusable.yml
    with:
      action: "plan"
      environment: "staging"
      working_directory: "envs/staging"
      var_file: "staging.tfvars"
      aws_region: "eu-west-1"

  plan-prod:
    if: github.base_ref == 'main'
    uses: ./.github/workflows/terraform-reusable.yml
    with:
      action: "plan"
      environment: "prod"
      working_directory: "envs/prod"
      var_file: "prod.tfvars"
      aws_region: "us-east-1"
