name: Terraform Deploy to dev on PR

on:
  pull_request:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  apply-dev:
    # Only for PR from feature/* branch
    if: startsWith(github.head_ref, 'feature/')
    uses: ./.github/workflows/terraform-reusable.yml
    with:
      action: "apply"
      environment: "dev"
      working_directory: "envs/dev"
      var_file: "dev.tfvars"
      aws_region: "eu-central-1"
