name: Terraform Dev CI

on:
  push:
    branches:
      - 'feature/*'
  pull_request:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  # Plan for dev on every push in feature/*
  plan-dev-on-feature-push:
    if: github.event_name == 'push'
    uses: ./.github/workflows/terraform-reusable.yml
    with:
      action: "plan"
      environment: "dev"
      working_directory: "envs/dev"
      var_file: "dev.tfvars"
      aws_region: "eu-central-1"
    secrets:
      aws_role_arn: ${{ secrets.AWS_ROLE_DEV }}

  # Apply on dev on PR (feature/* -> main)
  apply-dev-on-pr:
    if: github.event_name == 'pull_request'
    uses: ./.github/workflows/terraform-reusable.yml
    with:
      action: "apply"
      environment: "dev"
      working_directory: "envs/dev"
      var_file: "dev.tfvars"
      aws_region: "eu-central-1"
    secrets:
      aws_role_arn: ${{ secrets.AWS_ROLE_DEV }}
